ou-domain/src/main/resources/BillSummaryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:bbps="http://bbps.org/schema" targetNamespace="http://bbps.org/schema"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="BBPS-Common.xsd" />

	<xs:element name="BillSummaryRequest" type="bbps:BillSummaryRequestType">
		<xs:annotation>
			<xs:documentation>BBPS Bill Summary Request</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="BillSummaryRequestType">
		<xs:sequence>
			<xs:element type="xs:string" name="agentId" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>