ou-domain/src/main/resources/FetchAgentTypeRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:bbps="http://bbps.rssoftware.co.in/schema" targetNamespace="http://bbps.rssoftware.co.in/schema"
	elementFormDefault="unqualified" attributeFormDefault="unqualified">

	<xs:include schemaLocation="BBPS-RS-Common.xsd" />
	<xs:element name="FetchAgentTypeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="bbps:agentType" name="agent" minOccurs="1"
					maxOccurs="1" />
			<xs:element type="xs:string" name="txnRefId" minOccurs ="1" maxOccurs="1"/>		
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>